.preloader{
    display:flex;
    position:relative;
    background-color: white;
    z-index: 12002;
    transition: 0.3s all linear;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.preloader div {
    position: absolute;
    top:56vh;
    font-family: sans-serif;
}
